<footer>
	{% set entries = craft.entries.section('footer').level(1).all() %}
	<nav id="navigation-footer">
		<ul>
			{% nav page in entries %}
				<li class="{% if craft.app.request.segment(1) == page.uri %}active{% endif %}">
		            <a href="{{ page.url }}">{{ page.title }}</a>
		        </li>
			{% endnav %}
		</ul>
	</nav>
</footer>