<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'includes/_head-content' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<ul class="access-links">
			<li>
				<a href="#navigation-primary" accesskey="n">Jump to main navigation</a>
			</li>
			<li>
				<a href="#main-content" accesskey="m">Jump to main content</a>
			</li>
		</ul>
		<header>
			{% set entries = craft.entries.section('main').all() %}
			<nav id="navigation-primary">
				<ul>
					{% nav page in entries %}
						<li class="{% if craft.app.request.segment(1) == page.uri %}active{% endif %}">
				            <a href="{{ page.url }}">{{ page.title }}</a>

							{% ifchildren %}
								<ul>
									{% children %}
								</ul>
							{% endifchildren %}
				        </li>
					{% endnav %}
				</ul>
			</nav>
		</header>
		<div id="main-content">
			{% block content %}{% endblock %}
		</div>
		{% include 'includes/_footer' %}
		{% include 'includes/_scripts' %}
	</body>
</html>