<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'includes/_head-content' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<ul class="access-links">
			<li>
				<a href="#navigation-primary" accesskey="n">Jump to main navigation</a>
			</li>
			<li>
				<a href="#main-content" accesskey="m">Jump to main content</a>
			</li>
		</ul>
		<header>
			{% set entries = craft.entries.section('main').all() %}
			<nav id="navigation-primary">
				<ul>
					{% nav page in entries %}
						<li class="{% if craft.app.request.segment(1) == page.uri %}active{% endif %}">
				            <a href="{{ page.url }}">{{ page.title }}</a>
				        </li>
					{% endnav %}
				</ul>
			</nav>
		</header>
		<div id="main-content">
			<h1>Search</h1>
			{% set query = craft.app.request.getParam('q') %}
			{% if query|length %}
				{% paginate craft.entries({
				 	orderBy: 'score',
					search: {
						query: query
					},
					section: "not home",
					limit: 9
				}) as pageInfo, pageEntries %}
			{% endif %}
			<form action="/search">
				<input type="text" name="q" placeholder="Search" {% if query|length %}value="{{ query }}"{% endif %}>
				<button>Search</button>
			</form>
			{% if query|length %}
				<h2><span>{{ pageInfo.total }}</span> results found for: <span>{{ query }}</span></h2>
			{% endif %}

			{% if query|length %}
				{% for entry in pageEntries %}
					<a href="{{ entry.url }}"><h3>{{ entry.title }}</h3></a>
				{% endfor %}
			{% endif %}

			{% if query|length and pageInfo.totalPages > 1 %}
				{% set queryString = '?' ~ craft.app.request.queryStringWithoutPath  %}
				<nav>
					{% if pageInfo.currentPage > 1 %}
						<a href="{{ pageInfo.prevUrl }}{{ queryString ?? ''}}">Previous
						</a>
					{% endif %}
					<ul>
						{% if pageInfo.totalPages > 1 %}
							{% set start = max(2, pageInfo.currentPage - 1) %}
							{% set end = min(pageInfo.totalPages - 1, pageInfo.currentPage + 1) %}

							{% if start > 2 %}
								<li >...</li>
							{% endif %}

							{% for page in pageInfo.getRangeUrls(start, end) %}
								<li>
									<a href="{{ page }}{{ queryString ?? ''}}" class="{%- if loop.index + start - 1 == pageInfo.currentPage %} active{% endif %}">
										{{ loop.index + start - 1 }}
									</a>
								</li>
							{% endfor %}

							{% if end < pageInfo.totalPages - 1 %}
								<li >...</li>
							{% endif %}
						{% endif %}
					</ul>
					{% if pageInfo.currentPage < pageInfo.totalPages %}
						<a href="{{ pageInfo.nextUrl }}{{ queryString ?? ''}}">Next</a>
					{% endif %}
				</nav>
			{% endif %}
		</div>
		{% include 'includes/_footer' %}
		{% include 'includes/_scripts' %}
	</body>
</html>