{% set limit = 12 %}
{% paginate craft.entries().sectionId(block.channel).limit(limit) as pageInfo, pageEntries %}

{% if pageEntries|length > 0 %}
	{% for child in pageEntries %}
	    <a href="{{ child.url }}">{{ child.title }}</a>
	{% endfor %}
{% endif %}

{% if pageInfo.totalPages > 1 %}
	<nav>
		{% if pageInfo.currentPage > 1 %}
			<a href="{{ pageInfo.prevUrl }}{{ queryString ?? ''}}">Previous</a>
		{% endif %}
		<ul>
			<li>
				<a href="{{ pageInfo.firstUrl }}{{ queryString ?? ''}}" class="{%- if pageInfo.currentPage == 1 %}active{% endif %}">1	</a>
			</li>

			{% if pageInfo.totalPages > 1 %}
				{% set start = max(2, pageInfo.currentPage - 1) %}
				{% set end = min(pageInfo.totalPages - 1, pageInfo.currentPage + 1) %}

				{% if start > 2 %}
					<li>...</li>
				{% endif %}

				{% for page in pageInfo.getRangeUrls(start, end) %}
					<li>
						<a href="{{ page }}{{ queryString ?? ''}}" class="{%- if loop.index + start - 1 == pageInfo.currentPage %}active{% endif %}">
							{{ loop.index + start - 1 }}
						</a>
					</li>
				{% endfor %}

				{% if end < pageInfo.totalPages - 1 %}
					<li>...</li>
				{% endif %}
			{% endif %}

			<li>
				<a href="{{ pageInfo.lastUrl }}{{ queryString ?? ''}}" class="{%- if pageInfo.currentPage == pageInfo.totalPages %}active{% endif %}">
					{{ pageInfo.totalPages }}
				</a>
			</li>
		</ul>

		{% if pageInfo.currentPage < pageInfo.totalPages %}
			<a href="{{ pageInfo.nextUrl }}{{ queryString ?? ''}}">Next</a>
		{% endif %}
	</nav>
{% endif %}
